body {
    font-family: 'Roboto Mono', "monospace", "Georgia", "Times", "Times New Roman", serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/background.png");
    margin:auto;
  }
  
* {
  box-sizing: border-box;
}
  
 
  
.container {
  width: 100%;
  max-width: 960px;
  margin: 50px auto;
  clear: both;
  background: white;
  }

img{
    width:300px;
    height:300px;
}